
  h1 {
    color: blue;
    font-size: 128;
    font-family: Comic Sans MS;
  }
h2 {
  color: pink;
  font-size: 24;
  font-family: Comic Sans MS;
}
h3 {
  color: blue;
  font-size: 128;
  font-family: Comic Sans MS;
}
a {
  color: pink;
  font-size: 24;
  font-family: Comic Sans MS;
}

   body {
     background-image: url("https://www.allkpop.com/upload/2018/02/af_org/05224856/bts.jpg");
      }
