
  h1 {
    color: teal;
    font-size: 128;
    font-family: Comic Sans MS;
  }
h2 {
  color: black;
  font-size: 24;
  font-family: Comic Sans MS;
}
h3 {
  color: teal;
  font-size: 128;
  font-family: Comic Sans MS;
}

   body {
     background-image: url("https://i.pinimg.com/originals/31/5e/30/315e3040e4951578d6939870841305f9.jpg");
      }
